.register-page-container {
  background: radial-gradient(#dffcfb, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-block-start: 4rem;
  align-items: center;
}

.logo-isotipe {
  width: 3rem;
}

.admin-pannel-logo-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  p {
    font-weight: bold;
  }
}
