header {
  background-color: #000000;
  padding-block-end: 0.7rem;
  padding-top: 1.3rem;

  .header-logo {
    width: 2.65rem;
  }

  .header-logo-container {
    display: flex;
    justify-content: center;
  }

  .header-title {
    font-size: 2.5svh;
    margin-bottom: 0px;
    color: #f5f5f7;
  }
}
