.error-page-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-inline: 2rem;

  img {
    height: 2rem;
  }

  .error-page-image {
    height: 30rem;
  }
  h2,
  h3 {
    color: #fbfbfb;
  }

  .error-page-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 10rem;

    h2,
    h3 {
      text-align: center;
    }
  }
}

@media screen and (min-width: 480px) {
  .error-page-container {
    .error-page-container-header {
      padding-block-start: 3rem;
    }
    .error-page-image {
      height: 40rem;
    }
  }
}
